<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!--NAV START-->
    {{> navbar}}
    <!--NAV END-->

    <!--Blog Detail-->
    <div id="blog-detail">
        <!--BD = Blog Detail-->
        <div class="bd-title">
            <p>{{ project.title }}</p>
        </div>
        <!--IDC = Image, Duration, Categories-->
        <div class="bd-idc">
            <div class="idc-left">
                <img src={{ project.image }} alt="Prkoject Image">
            </div>
            <div class="idc-right">
                <p>Duration</p>
                <div class="bd-duration">
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p class="pt-3">{{project.start_date}} - {{project.end_date}}</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <p class="pt-3">{{ project.duration }}</p>
                    </div>
                </div>
                <div class="bd-tech">
                    <p>Technologies</p>
                    <div class="tech-body">
                        {{#if project.technologies.[0] }} 
                            <div class="tech-html">
                            <i class="fa-brands fa-html5"></i>
                            <p>HTML</p>
                            </div>
                        {{/if}}
                        {{#if project.technologies.[1] }}
                            <div class="tech-css">
                                <i class="fa-brands fa-css3-alt"></i>
                                <p>CSS</p>
                            </div>
                        {{/if}}
                        {{#if project.technologies.[2] }}
                        <div class="tech-node">
                            <i class="fa-brands fa-node-js"></i>
                            <p>nodeJs</p>
                        </div>
                        {{/if}}
                        {{#if project.technologies.[3]}}
                        <div class="tech-react">
                            <i class="fa-brands fa-react"></i>
                            <p>reactJs</p>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="bd-content">
            <p>
                {{ project.description }}
            </p>
        </div>
    </div>
    <!--xBlog Detailx-->
</body>

</html>